language: node_js

cache:
  directories:
    - node_modules

node_js:
   - node # will use latest node

before_script: # commands to run before the build step
   - travis_retry npm install -g -dd @angular/cli
   - travis_retry npm install -g -dd firebase-tools # installs firebase to run firebase deploy

script: # the build step
   - if [ "$TRAVIS_BRANCH" == "master" ]; then ng build --aot --prod --configuration=p; else ng build --aot --prod --configuration=q ; fi
after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then firebase use svk-p-01 --token $FIREBASE_TOKEN --non-interactive; else firebase use svk-q-01 --token $FIREBASE_TOKEN --non-interactive ; fi
  - firebase deploy --only hosting --token $FIREBASE_TOKEN --non-interactive

notifications:
  email: # only receive email when the build status changes (someone broke the build!)
    on_failure: change
    on_success: change
