.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

#top ul.dropdown-menu {
    background: #555555;
}

#top ul.dropdown-menu a:hover {
    background: #555555;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

a:hover {
    cursor: pointer;
}

li.list-group.item {
    list-style: none;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 70px;
}

.panel-heading.news-heading {
    overflow: auto;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #f5f5f5;
}

/* Absolute Center Spinner */
.ajax-loading {
    height: 100px;
    width: 2em;
    margin: auto;
}

.linkToMother {
    position: absolute;
    bottom: 0;
}

.tableBtn {
    padding-top: 5px;
}

.space-bottom {
    padding-bottom: 10px;
    display: block;
    clear: both;
}

.blue {
    color: #41afc1;
}

.red, a.red:hover {
    color: indianred;
}

.grey, a.grey:hover {
    color: darkgrey;
}

.green, a.green:hover {
    color: lightgreen;
}

.count-badge {
    padding-left: 4px;
    font-weight: bold;
}

.doodle-badge, .doodle-list {
    float: right;
}

.doodle-title {
    float: left;
}

.doodle-list {
    display: inline-flex;
    clear: both;
    padding-bottom: 5px;
    align-items: center;
}

.doodle-list-btn {
    display: inline;
    float: right;
}

.doodle-list-name {
    display: inline;
    float: left;
    padding-right: 5px;
    text-align: right;
}

.m-t-1 {
    margin-top: 10px;
}

/*
-------------------------------------------------- */

header {
    background-size: 100%;
    padding: 5px;
}

header h3 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.error {
    color: #a94442;
}

.indent {
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
}

.row-margin-bottom {
    margin-bottom: 15px;
}

/* the text optional should not be bold and start on a new line*/
.optional-label {
    font-weight: normal;
    display: block;
}

.comment {
    padding-top: 5px;
    margin-left: 5%;
    border-top: 1px solid #BCE8F1
}

.addCommentDiv, .editCommentDiv, .addCommentBtn {
    margin-bottom: 5px;
}

.addCommentDiv, .addCommentBtn {
    margin-left: 5%;
}

/* PageDown css
-------------------------------------------------- */

.wmd-panel {
    width: 100%;
}

.wmd-input {
    height: 300px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.wmd-preview {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.wmd-panel .btn-toolbar {
    margin-bottom: 0;
    padding: 0 0 5px;
    width: 100%;
}

.fa-header:before {
    content: 'H';
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
}

.wmd-prompt-background {
    background-color: Black;
}

.wmd-prompt-dialog {
    border: 1px solid #999999;
    background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
    font-size: 0.8em;
    font-family: arial, helvetica, sans-serif;
}

.wmd-prompt-dialog > form > input[type="text"] {
    border: 1px solid #999999;
    color: black;
}

.wmd-prompt-dialog > form > input[type="button"] {
    border: 1px solid #888888;
    font-family: trebuchet MS, helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}

/* Maps
-------------------------------------------------- */
.google-maps iframe {
    width: 425px;
    height: 350px;
    padding-bottom: 10px;
}

/** responsive table **/

.rwd-table {
    width: 100%;
}

.rwd-table th {
    display: none;
    background: white;
}

.rwd-table td {
    display: block;
    word-wrap: break-word;
}

.rwd-table td:first-child {
    padding-top: .5em;
}

.rwd-table td:last-child {
    padding-bottom: .5em;
}

.rwd-table td:before {
    content: attr(data-th);
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

.rwd-table th, .rwd-table td {
    text-align: left;
}

.rwd-table {
    border-radius: .4em;
    overflow: hidden;
}

.rwd-table .fixed-column {
    position: absolute;
    display: inline-block;
    width: auto;
}

.rwd-table td.hidden {
    display: none;
}

.rwd-table tr:nth-child(odd) {
    background-color: ghostwhite;
}

.rwd-table .odd {
    background-color: ghostwhite;
}

/** Avatar **/
.kv-avatar .file-preview-frame, .kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}

.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}

@media (min-width: 600px) {
    .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }

    .rwd-table td:before {
        display: none;
    }

    .rwd-table th:first-child, .rwd-table td:first-child {
        padding-left: 0;
    }

    .rwd-table th:last-child, .rwd-table td:last-child {
        padding-right: 0;
    }

    .rwd-table th, .rwd-table td {
        padding: 1em !important;
    }

    .rwd-table td.hidden {
        display: block;
    }

    .rwd-table tr:nth-child(odd) {
        background-color: white;
    }

    .rwd-table .odd {
        background-color: white;
    }
}

/* Profile
-------------------------------------------------- */

div.team-row img {
    max-width: 200px;
    max-height: 200px;
}

div.team-row .row {
    padding-left: 10px;
}

/* Media queries
-------------------------------------------------- */
@media (max-width: 768px) {
    .google-maps iframe {
        width: 100% !important;
        height: 100% !important;
        padding-bottom: 10px;
    }

    .linkToMother {
        position: absolute;
        bottom: 0;
    }

    .linkToMother img {
        max-height: 70%;
        max-width: 70%;
    }

    .indent {
        margin-left: 0px;
        margin-right: 0px;
    }

}